@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Clonar <a href="https://github.com/BannerAlfredo/listas_em_c-.git">https://github.com/BannerAlfredo/listas_em_c-.git</a>.</p>
</div>
